<div id="total">
  <video #video [src]="videosrc" id="video" autoplay width="400" height="300" preload="auto" loop>
  </video>
  <canvas #overlay id="overlay" width="400" height="300"></canvas>
  <canvas #webgl id="webgl" width="400" height="300"></canvas>
  <div class="abs">
    <layer-3d
      [cameraZ]="400"
      [fieldOfView]="100"
      [nearClipping]="1"
      [farClipping]="1000"
      [scale]="scale"
      [rotationY]="rotationY"
      [rotationZ]="rotationZ"
      [rotationX]="rotationX"
      [eyeLeft]="eyeLeft"
      [eyeRight]="eyeRight"
      [posx]="posx"
      [posy]="posy">
    </layer-3d>
  </div>
</div>
<img #mask id="mask" src="./assets/skullmask.jpg" [hidden]="true" />
